<fieldset class="developer_controller">
  <legend>Developer details</legend>
  <div class="details">
    <div>
      <b>Name:</b>
      <%= @developer.name %>
    </div>

    <div>
      <b>Website:</b>
      <%= link_to @developer.website, @developer.website, target: '_blank' if @developer.website.present? %>
    </div>
    <div>
      <b>Time zone:</b>
      <%= @developer.time_zone %>
    </div>

    <% permitted_to? :read_address, @developer do %>
      <div class="address">
        <b>Address:</b>
        <div><%= @developer.address %></div>
      </div>

      <div class="contact_information">
        <b>Contact information:</b>
        <div><%= @developer.contact_information %></div>
      </div>
    <% end %>
  </div>

  <p class="actions">
    <%= link_to 'Edit', edit_developer_path(@developer), class: 'button' if permitted_to? :edit %>
    <% permitted_to? :delete, @developer do %>
      <%= link_to 'Delete', @developer, class: 'button', confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </p>
</fieldset>
<% permitted_to? :read, @developer.games do %>
    <fieldset id="developer_games">
      <legend>Games</legend>
      <%= render 'games/games', :games => @developer.games.with_permissions_to, :without => [:developer] %>
    </fieldset>
<% end %>
<% permitted_to? :read, @developer.ports do %>
  <fieldset id="developer_ports">
    <legend>Ports</legend>
    <%= render 'ports/ports', :ports => @developer.ports.with_permissions_to, :without => [:developer] %>
  </fieldset>
<% end %>
