<%= form_tag login_path, :class => :login_form do %>
  <fieldset>
    <legend>Log in</legend>
    <div class="field">
      <%= label_tag :email, 'E-mail' %><br/>
      <%= text_field_tag :email, params[:email], :placeholder => 'E-mail' %>
    </div>
    <p>
      <%= label_tag :password %>&nbsp;<%= link_to "Forgotten password?", forgot_password_path %><br/>
      <%= password_field_tag :password, nil, :placeholder => 'Password' %>
    </p>

    <p>
      <%= hidden_field_tag :time_zone %>
      <%= label_tag :remember_me %>
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    </p>
    <div class="actions"><%= submit_tag "Log in" %></div>
  </fieldset>
<% end %>
