<%= form_for([@noteable, @note]) do |f| %>
  <fieldset>
    <legend><%= title %></legend>
    <% if @note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
          <% @note.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :note %>
      <br/>
      <%= f.text_area :note %>
    </div>
    <div class="field">
      <%= f.label :author %>
      <br/>
      <%= f.collection_select :author_id, User.all, :id, :name, :prompt => true %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
