<h1>Listing notes</h1>

<table>
  <tr>
    <th>Note</th>
    <th>Owner</th>
    <th>Noteable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.note %></td>
    <td><%= note.owner %></td>
    <td><%= note.noteable %></td>
    <td><%= link_to 'Show', [@noteable, note] %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path([@noteable, note]) if permitted_to? :edit, note %></td>
    <% permitted_to? :delete, note do %>
        <td><%= link_to 'Destroy', [@noteable, note], confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_polymorphic_path([@noteable, Note]) if permitted_to? :create, @noteable.notes %>
