<fieldset>
  <legend>Note details</legend>
    <p>
    <b>Note:</b>
    <%= @note.note %>
  </p>

    <p>
    <b>Owner:</b>
    <%= @note.owner %>
  </p>

    <p>
    <b>Noteable:</b>
    <%= @note.noteable %>
  </p>

  
  <%= link_to 'Edit', edit_polymorphic_path([@noteable, @note]) %> |
  <%= link_to 'Back', [@noteable, Note] %>
</fieldset>