<%= form_for([@game, @port]) do |f| %>
  <fieldset>
    <legend><%= title %></legend>
    <% if @port.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@port.errors.count, "error") %> prohibited this port from being saved:</h2>

        <ul>
          <% @port.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :porter_id %>
      <br/>
      <%= f.collection_select :porter_id, User.all, :id, :name, :prompt => true %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <br/>
      <%= f.select :state, Port::STATES %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
