<%= form_for([@game, @port], :html=>{ :class => :new_edit_form}) do |f| %>
  <fieldset>
    <legend><%= title %></legend>
    <% if @port.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@port.errors.count, "error") %> prohibited this port from being saved:</h2>

        <ul>
          <% @port.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :developer_id %>
      <br/>
      <%= f.collection_select :developer_id, Developer.with_permissions_to.order('developers.name'), :id, :name, :include_blank => '- Unassigned Developer -' %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <br/>
      <%= f.select :state, Port::STATES %>
    </div>
    <div class="field">
      <%= f.label :platform_list, 'Platforms' %>
      <br/>
      <%= f.text_field :platform_list, :class => 'tags', :data => { :tags_input => {
              onlyautocomplete: true,
              autocomplete: { source: complete_predefined_tags_path(:platforms, :json), minLength: 0, autoFocus: true }
      } } %>
    </div>
    <div class="actions">
      <%= f.submit disable_with: 'Saving...' %>
    </div>
  </fieldset>
<% end %>
