<table>
  <tr>
    <% if !defined?(without) || !without.include?(:game) %>
      <th>Game</th>
    <% end %>
    <th>Platforms</th>
    <th>State</th>
    <% if !defined?(without) || !without.include?(:developer) %>
      <th>Developer</th>
    <% end %>
  </tr>

  <% ports.each do |port| %>
    <tr>
      <% if !defined?(without) || !without.include?(:game) %>
        <td><%= port.game.name %></td>
      <% end %>
      <td><%= platform_list port.platforms %></td>
      <td><%= label_for Types::Port::STATES, port.state %></td>
      <% if !defined?(without) || !without.include?(:developer) %>
        <td><%= port.developer.try(:name) || '(Unassigned)' %></td>
      <% end %>
      <td><%= link_to 'Edit', edit_game_port_path(port.game, port) if permitted_to? :edit, port %></td>
    </tr>
  <% end %>
</table>