<h1>Listing ports</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Porter</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ports.each do |port| %>
  <tr>
    <td><%= port.game %></td>
    <td><%= port.porter %></td>
    <td><%= port.state %></td>
    <td><%= link_to 'Show', [@game, port] %></td>
    <td><%= link_to 'Edit', edit_game_port_path(@game, port) %></td>
    <td><%= link_to 'Destroy', [@game, port], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Port', new_game_port_path(@game) %>
