<fieldset>
  <legend>Port details</legend>
  <p>
    <b>Game:</b>
    <%= link_to @port.game.name, @port.game %>
  </p>

  <p>
    <b>Porter:</b>
    <%= @port.porter.name %>
  </p>

  <p>
    <b>State:</b>
    <%= label_for Port::STATES, @port.state %>
  </p>

  <p>
    <b>Platforms:</b>
    <%= platform_list @port.platforms %>
  </p>


  <%= link_to 'Edit', edit_game_port_path(@port.game, @port) if permitted_to? :edit %> |
  <%= link_to 'Back', game_ports_path(@port.game) %>
</fieldset>