<fieldset>
  <legend>Port details</legend>
    <p>
    <b>Game:</b>
    <%= @port.game %>
  </p>

    <p>
    <b>Porter:</b>
    <%= @port.porter %>
  </p>

    <p>
    <b>State:</b>
    <%= @port.state %>
  </p>

  
  <%= link_to 'Edit', edit_game_port_path(@game, @port) %> |
  <%= link_to 'Back', game_ports_path(@game) %>
</fieldset>