<div class="comment" id="comment_<%= comment.id %>">
  <div class="comment_entry"><%= comment.comment %></div>
  <div class="authorship">
    <%= gravatar_tag comment.author, size: 20 %>
    <b>Posted</b> <%= timeago comment.created_at %> <b>by</b> <%= comment.author.name %>
  </div>
  <div class="actions">
    <%= link_to 'Edit', edit_comment_path(comment), remote: true if permitted_to? :edit, comment %>
    <% permitted_to? :delete, comment do %>
        | <%= link_to 'Delete', comment_path(comment), confirm: 'Are you sure?', method: :delete, remote: true %>
    <% end %>
  </div>
</div>