<h1>Listing comments</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>Author</th>
    <th>Commentable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.comment %></td>
    <td><%= comment.author %></td>
    <td><%= comment.commentable %></td>
    <td><%= link_to 'Show', [@commentable, comment] %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path([@commentable, comment]) if permitted_to? :edit, comment %></td>
    <% permitted_to? :delete, comment do %>
        <td><%= link_to 'Destroy', [@commentable, comment], confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_polymorphic_path([@commentable, Comment]) if permitted_to? :create, @commentable.comments %>
