<%= form_for([@game, @issue], :html=>{ :class => :new_edit_form}) do |f| %>
  <fieldset>
    <legend><%= title %></legend>
    <% if @issue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

        <ul>
          <% @issue.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @game.nil? %>
      <div class="field">
        <%= f.label :game_id %>
        <br/>
        <%= f.collection_select :game_id, Game.with_permissions_to, :id, :name, :prompt => true %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :summary %>
      <br/>
      <%= f.text_field :summary %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :status %>
      <br/>
      <%= f.select :status, Issue::STATUSES %>
    </div>
    <div class="field">
      <%= f.label :platform_list, 'Platforms' %>
      <br/>
      <%= f.text_field :platform_list, :class => 'tags', :data => { :tags_input => {
              onlyautocomplete: true,
              autocomplete: { source: complete_predefined_tags_path(:platforms, :json), minLength: 0, autoFocus: true }
      } } %>
    </div>
    <div class="actions">
      <%= f.submit disable_with: 'Saving...' %>
    </div>
  </fieldset>
<% end %>
