<% if !defined? show_game then show_game = false end %>
<table class="issues-table">
  <colgroup>
    <col width="10%"/>
    <% if show_game %>
        <col width="10%"/>
    <% end %>
    <col width="10%"/>
    <col width="10%"/>
    <col width="10%"/>
    <col width="15%"/>
  </colgroup>
  <thead>
  <tr>
    <td colspan="6">
      <input class="fuzzy-search" placeholder="Search"/>

      <div class="status_filter buttonset" title="Filter by status">
        <label class="button"><input type="radio" name="issue_status_filter" value=""><span>All</span></label>
        <label class="button"><input type="radio" name="issue_status_filter" value="open"><span>Open</span></label>
        <label class="button"><input type="radio" name="issue_status_filter" value="closed"><span>Closed</span></label>
      </div>

      <div class="priority_filter buttonset" title="Filter by priority">
        <label class="button"><input type="radio" name="issue_priority_filter" value="-1"><span>All</span></label>
        <% Types::Issue::PRIORITIES.each do |p| %>
            <label class="button"><input type="radio" name="issue_priority_filter" value="<%= p.second %>"><span><%= p.first %></span></label>
        <% end %>
      </div>

      <%= collection_select '', 'platform_filter', predefined_tag_list('platforms'), :name, :name, {include_blank: 'All platforms'}, {class:'platform_filter'} %>
    </td>
  </tr>
  <tr>
    <th>ID</th>
    <% if show_game %>
      <th>Game</th>
    <% end %>
    <th>Updated</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Platforms</th>
    <th>Summary</th>
  </tr>
  </thead>
  <tbody class="list">
  <% issues.each do |issue| %>
    <tr class="issue">
      <td><%= link_to "View ##{issue.id}", [issue.game, issue] %></td>
      <% if show_game %>
        <td class="game"><%= issue.game.name %></td>
      <% end %>
      <td><%= timeago issue.updated_at %><span class="updated hidden"><%= issue.updated_at.utc.iso8601 %></span></td>
      <td><%= label_for Types::Issue::STATUSES, issue.status %><span class="status hidden"><%= issue.status %></span> </td>
      <td><%= label_for Types::Issue::PRIORITIES, issue.priority, sorted: true %><span class="priority hidden"><%= issue.priority %></span></td>
      <td class="platforms"><%= platform_list issue.platforms %></td>
      <td><span class="summary"><%= issue.summary %></span><span class="details hidden"><%= issue.description %></span></td>
    </tr>
  <% end %>
  </tbody>
</table>