<fieldset class="issue_controller">
  <legend>Issue details</legend>
  <div class="details">
    <p>
      <b>Game:</b>
      <%= link_to @issue.game.name, @issue.game %>
    </p>

    <p>
      <b>Status:</b>
      <%= label_for Issue::STATUSES, @issue.status %>
    </p>

    <p class="platforms">
      <b>Platforms:</b>
      <%= platform_list @issue.platforms %>
    </p>

    <p class="description">
      <b>Description:</b>
      <%= @issue.description %>
    </p>
  </div>

  <p class="actions">
    <%= link_to 'Edit', edit_game_issue_path(@issue.game, @issue) if permitted_to? :edit %>
  </p>
</fieldset>
<%= render 'comments/comment_list', :commentable => @issue %>
