<fieldset class="issue_controller">
  <legend>Issue details</legend>
  <div class="details">
    <div class="game">
      <b>Game:</b>
      <%= link_to @issue.game.name, @issue.game %>
    </div>

    <div class="submitted">
      <b>Submitted:</b>
      <%= timeago @issue.created_at %>
      <b>by:</b>
      <%= gravatar_tag @issue.author, size: 20 %> <%= @issue.author.name %>
    </div>

    <div>
      <b>Status:</b>
      <%= label_for Issue::STATUSES, @issue.status %>
    </div>

    <div>
      <b>Priority:</b>
      <%= label_for Issue::PRIORITIES, @issue.priority, sorted: true %>
    </div>

    <div class="platforms">
      <b>Affected Platforms:</b>
      <%= platform_list @issue.platforms %>
    </div>

    <div class="summary">
      <b>Summary:</b>
      <%= @issue.summary %>
    </div>

    <div class="description">
      <b>Description:</b>
      <div><%= @issue.description %></div>
    </div>
  </div>

  <p class="actions">
    <%= link_to 'Edit', edit_game_issue_path(@issue.game, @issue), class: 'button' if permitted_to? :edit %>
  </p>
</fieldset>
<%= render 'comments/comment_list', :commentable => @issue %>
