<table>
  <thead>
  <tr>
    <th>User</th>
    <th>System</th>
    <th>Rating</th>
    <th>Comments</th>
    <th></th>
  </tr>
  </thead>
  <% @test_results.each do |tr| %>
      <tr>
        <td><%= tr.user.name %></td>
        <td><%= tr.system.name %></td>
        <td><%= label_for TestResult::RATINGS, tr.rating %></td>
        <td><%= tr.comments %></td>
        <td>
          <%= link_to 'Edit', edit_test_result_path(tr), remote: true if permitted_to? :edit, tr %>
          <% permitted_to? :delete, tr do %>
              | <%= link_to 'Delete', tr, confirm: 'Are you sure?', method: :delete, remote: true %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>