<table>
  <thead>
  <tr>
    <th>User</th>
    <th>System</th>
    <th>Rating</th>
    <th>Platforms</th>
    <th></th>
  </tr>
  </thead>
  <% @test_results.each do |tr| %>
      <tr title="<%= tr.comments %>">
        <td><%= tr.user.name %></td>
        <td><%= tr.system.try(:name) || '(System Removed)' %></td>
        <td><%= label_for Types::TestResult::RATINGS, tr.rating %></td>
        <td><%= platform_list tr.system.try(:platforms) %></td>
        <td>
          <%= link_to 'Edit', edit_test_result_path(tr), remote: true if permitted_to? :edit, tr %>
          <% permitted_to? :delete, tr do %>
              | <%= link_to 'Delete', tr, confirm: 'Are you sure?', method: :delete, remote: true %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>