<%= form_for @user, :url => password_reset_path(params[:id]), :html => {:class => :login_form} do |f| %>
    <fieldset>
      <legend>Reset Password</legend>

      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited the password from being reset:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions"><%= f.submit "Update Password", disable_with: 'Updating...' %></div>
    </fieldset>
<% end %>