<%= form_for(@user) do |f| %>
    <fieldset class="user_controller">
      <legend>Editing user</legend>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :email %>
        <br/>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :name %>
        <br/>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :time_zone %>
        <br/>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :prompt => '- Select Timezone -' %>
      </div>
      <% permitted_to? :update_roles, @user do %>
          <div class="field">
            <%= f.label :developer_id %>
            <br/>
            <%= f.collection_select :developer_id, Developer.with_permissions_to, :id, :name, include_blank: '- No Developer -' %>
          </div>
          <div class="field">
            <fieldset class="role_editor">
              <legend>Roles</legend>
              <ul>
                <% system_roles.each do |r, v| %>
                    <li>
                      <%= check_box_tag "roles[#{r}]", "1", @user.role_symbols.include?(r) %>
                      <%= label_tag "roles[#{r}]", v %>
                    </li>
                <% end %>
              </ul>
            </fieldset>
          </div>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </fieldset>
<% end %>
