<fieldset>
  <legend>User details</legend>
  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <p>
    <b>Name:</b>
    <%= @user.name %>
  </p>

  <p>
    <b>Timezone:</b>
    <%= @user.time_zone %>
  </p>

  <p>
    <b>Signed NDA:</b>
    <% if @user.nda_signed_date? %>
        <%= l @user.nda_signed_date %>
    <% else %>
        <%= link_to "Review NDA", nda_user_path(@user), remote: true, id: 'review_nda' %>
    <% end %>
  </p>

  <% permitted_to? :update_roles, @user do %>
      <p>
        <b>Roles:</b>
        <%= role_titles(@user.role_symbols).join(', ') %>
      </p>
  <% end %>

  <%= link_to 'Edit', edit_user_path(@user) if permitted_to? :edit %>
  <% permitted_to? :delete, @user do %>
      | <%= link_to 'Delete', @user, confirm: 'Are you sure?', method: :delete %>
  <% end %>
</fieldset>
<% permitted_to? :read, @user.systems do %>
    <fieldset>
      <legend>Systems</legend>
      <%= render 'systems/systems', :systems => @user.systems.with_permissions_to %>
      <%= link_to 'New system', new_user_system_path(@user) if permitted_to? :create, @user.systems %>
    </fieldset>
<% end %>
