<fieldset>
  <legend>User details</legend>
  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <p>
    <b>Name:</b>
    <%= @user.name %>
  </p>

  <p>
    <b>Timezone:</b>
    <%= @user.time_zone %>
  </p>

  <% permitted_to? :update_roles, @user do %>
      <p>
        <b>Roles:</b>
        <%= role_titles(@user.role_symbols).join(', ') %>
      </p>
  <% end %>

  <%= link_to 'Edit', edit_user_path(@user) if permitted_to? :edit %>
  <% permitted_to? :delete, @user do %>
      | <%= link_to 'Delete', @user, confirm: 'Are you sure?', method: :delete %>
  <% end %>
</fieldset>
