<fieldset>
  <legend>User details</legend>
  <p>
    <b><%= link_to 'Gravatar', 'http://gravatar.com/', target: '_blank' %>:</b>
    <%= gravatar_tag @user %>
  </p>
  <p>
    <b>E-mail:</b>
    <%= @user.email %>
  </p>

  <p>
    <b>Name:</b>
    <%= @user.name %>
  </p>

  <p>
    <b>Timezone:</b>
    <%= @user.time_zone %>
  </p>

  <p>
    <b>Signed NDA:</b>
    <% if @user.nda_signed_date? %>
        <%= l @user.nda_signed_date %>
    <% elsif @user.permitted_to? :nda %>
        <%= link_to "Review NDA", nda_user_path(@user), remote: true, id: 'review_nda' %>
    <% else @user.role_symbols.include?(:unverified) %>
        Verify your email account first. <%= link_to 'Resend Confirmation', confirm_user_path(@user), method: :post, remote: true %>
    <% end %>
  </p>

  <% if @user.developer.present? %>
    <p>
      <b>Developer at:</b>
      <%= developer_link(@user.developer) %>
    </p>
  <% end %>

  <% permitted_to? :update_roles, @user do %>
      <p>
        <b>Roles:</b>
        <%= role_titles(@user.role_symbols).join(', ') %>
      </p>
  <% end %>

  <%= link_to 'Edit', edit_user_path(@user), class: 'button' if permitted_to? :edit %>
  <% permitted_to? :delete, @user do %>
      <%= link_to 'Delete', @user, class: 'button', confirm: 'Are you sure?', method: :delete %>
  <% end %>
</fieldset>
<% permitted_to? :read, @user.systems do %>
    <fieldset>
      <legend>Systems</legend>
      <%= render 'systems/systems', :systems => @user.systems.with_permissions_to %>
      <%= link_to 'New system', new_user_system_path(@user), class: 'button' if permitted_to? :create, @user.systems %>
    </fieldset>
<% end %>
