<%= form_for(@game, :html=>{ :class => :new_edit_form}) do |f| %>
  <fieldset>
    <legend><%= title %></legend>
    <% if @game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

        <ul>
          <% @game.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :bundle %>
      <br/>
      <%= f.collection_select :bundle_id, Bundle.with_permissions_to, :id, :name, :include_blank => '- No Bundle -' %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <br/>
      <%= f.select :state, Game::STATES %>
    </div>
    <div class="field">
      <%= f.label :platform_list, 'Platforms' %>
      <br/>
      <%= f.text_field :platform_list, :class => 'tags', :data => { :tags_input => {
              onlyautocomplete: true,
              autocomplete: { source: complete_predefined_tags_path(:platforms, :json), minLength: 0, autoFocus: true }
      } } %>
    </div>
    <div class="actions">
      <%= f.submit :id => :submit_game %>
    </div>
  </fieldset>
<% end %>
