<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Bundle</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% games.each do |game| %>
    <tr class="game">
      <td><%= game.name %></td>
      <td><%= game.description %></td>
      <td><%= game.bundle.name %></td>
      <td><%= label_for Game::STATES, game.state %></td>
      <td><%= link_to 'Show', game %></td>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>