<table>
  <colgroup>
    <col width="33%"/>
    <col width="33%"/>
    <% if !defined?(without) || !without.include?(:developer) %>
      <col/>
    <% end %>
    <col width="20%"/>
  </colgroup>

  <thead>
  <tr>
    <th>Name</th>
    <th>State</th>
    <% if !defined?(without) || !without.include?(:developer) %>
      <th>Developer</th>
    <% end %>
    <th>Issues</th>
  </tr>
  </thead>

  <tbody>
  <% games.each do |game| %>
      <tr class="game">
        <td><%= link_to game.name, game %></td>
        <td><%= label_for Game::STATES, game.state %></td>
        <% if !defined?(without) || !without.include?(:developer) %>
          <td><%= developer_link(game.developer) %></td>
        <% end %>
        <td>
          <% permitted_to? :read, game.issues do %>
              <%= link_to pluralize(game.issues.count, 'issue'), game_path(game, anchor: 'game_issues') %>
          <% end %>
          <%= link_to "Report new issue", new_game_issue_path(game), :class => 'right' if permitted_to? :create, game.issues %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>