<fieldset class="game_controller">
  <legend>Game details</legend>

  <div class="details">
    <p>
      <b>Name:</b>
      <%= @game.name %>
    </p>

    <p>
      <b>State:</b>
      <%= label_for Game::STATES, @game.state %>
    </p>

    <% @game.bundle.present? && permitted_to?(:read, @game.bundle) do %>
        <p class="bundle">
          <b>Bundle:</b>
          <%= link_to @game.bundle.name, @game.bundle %>
        </p>
    <% end %>

    <p class="description">
      <b>Description:</b>
      <%= @game.description %>
    </p>

    <p class="platforms">
      <b>Current Platforms:</b>
      <%= platform_list @game.platforms %>
    </p>

  </div>

  <fieldset class="ports">
    <legend>Ports</legend>
    <%= render 'ports/ports', :ports => @game.ports %>
    <%= link_to 'New Port', new_game_port_path(@game), class: 'button' if permitted_to? :create, @game.ports %>
  </fieldset>

  <p class="actions">
    <%= link_to 'Edit', edit_game_path(@game) if permitted_to? :edit %>
  </p>
</fieldset>
<% permitted_to? :read, @game.releases do %>
    <fieldset id="game_releases">
      <legend>Releases</legend>
      <%= render 'releases/releases', :releases => @game.releases.with_permissions_to.order('releases.created_at DESC') %>
      <%= link_to 'New release', new_game_release_path(@game), class: 'button' if permitted_to? :create, @game.releases %>
    </fieldset>
<% end %>
<% permitted_to? :read, @game.issues do %>
    <fieldset id="game_issues">
      <legend>Issues</legend>
      <%= render 'issues/issues', :issues => @game.issues.with_permissions_to %>
      <%= link_to 'New issue', new_game_issue_path(@game), class: 'button' if permitted_to? :create, @game.issues %>
    </fieldset>
<% end %>
