<fieldset class="game_controller">
  <legend>Game details</legend>

  <div class="details">
    <div>
      <b>Name:</b>
      <%= @game.name %>
    </div>

    <div>
      <b>Developer:</b>
      <%= developer_link(@game.developer) %>
    </div>

    <div class="state">
      <b>State:</b>
      <%= label_for Types::Game::STATES, @game.state %>
    </div>

    <div class="bundle">
      <% @game.bundle.present? && permitted_to?(:read, @game.bundle) do %>
        <b>Bundle:</b>
        <%= link_to @game.bundle.name, @game.bundle %>
      <% end %>
    </div>

    <div class="description">
      <b>Description:</b>
      <div><%= @game.description %></div>
    </div>

    <div class="platforms">
      <b>Current Platforms:</b>
      <%= platform_list @game.platforms %>
    </div>
  </div>

  <% permitted_to? :read, :ports do %>
    <fieldset class="ports">
      <legend>Ports</legend>
      <%= render 'ports/ports', :ports => @game.ports.with_permissions_to %>
      <%= link_to 'New Port', new_game_port_path(@game), class: 'button' if permitted_to? :create, @game.ports %>
    </fieldset>
  <% end %>

  <p class="actions">
    <%= link_to 'Edit', edit_game_path(@game), class: 'button' if permitted_to? :edit %>
  </p>
</fieldset>
<% permitted_to? :read, @game.releases do %>
    <fieldset id="game_releases">
      <legend>Releases</legend>
      <%= render 'releases/releases', game: @game, :releases => @game.releases.with_permissions_to %>
      <%= link_to 'New release', new_game_release_path(@game), class: 'button' if permitted_to? :create, @game.releases %>
    </fieldset>
<% end %>
<% permitted_to? :read, @game.issues do %>
    <fieldset id="game_issues">
      <legend>Issues</legend>
      <%= render 'issues/issues', :issues => @game.issues.with_permissions_to, refresh_game: @game.id %>
      <%= link_to 'New issue', new_game_issue_path(@game), class: 'button' if permitted_to? :create, @game.issues %>
    </fieldset>
<% end %>
