<fieldset class="game_controller">
  <legend>Game details</legend>

  <div class="details">
    <p>
      <b>Name:</b>
      <%= @game.name %>
    </p>

    <p>
      <b>State:</b>
      <%= label_for Game::STATES, @game.state %>
    </p>

    <p class="bundle">
      <b>Bundle:</b>
      <%= @game.bundle.try(:name) %>
    </p>

    <p class="description">
      <b>Description:</b>
      <%= @game.description %>
    </p>

    <p class="platforms">
      <b>Current Platforms:</b>
      <%= platform_list @game.platforms %>
    </p>

  </div>
  <p>
    <fieldset>
      <legend>Ports</legend>
      <%= render 'ports/ports', :ports => @game.ports %>
      <%= link_to 'New Port', new_game_port_path(@game) %>
    </fieldset>
  </p>

  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</fieldset>
<fieldset>
  <legend>Issues</legend>
  <%= render 'issues/issues', :issues => @game.issues %>
  <%= link_to 'New issue', new_game_issue_path(@game) %>
</fieldset>
