<fieldset>
  <legend>Game details</legend>
  <p>
    <b>Name:</b>
    <%= @game.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @game.description %>
  </p>

  <p>
    <b>Bundle:</b>
    <%= @game.bundle.try(:name) %>
  </p>

  <p>
    <b>State:</b>
    <%= label_for Game::STATES, @game.state %>
  </p>

  <fieldset>
    <legend>Issues</legend>
    <%= render 'issues/issues', :issues => @game.issues %>
    <%= link_to 'New issue', new_game_issue_path(@game) %>
  </fieldset>

  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</fieldset>
