<h1>Listing bundles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Target date</th>
    <th>Description</th>
    <th>State</th>
  </tr>

<% @bundles.each do |bundle| %>
  <tr class="bundle">
    <td><%= link_to bundle.name, bundle %></td>
    <td><%= bundle.target_date %></td>
    <td><%= bundle.description %></td>
    <td><%= label_for Bundle::STATES ,bundle.state %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bundle', new_bundle_path %>
