<fieldset class="bundle_controller">
  <legend>Bundle details</legend>
  <div class="details">
    <div>
      <b>Name:</b>
      <%= @bundle.name %>
    </div>

    <div>
      <b>State:</b>
      <%= label_for Bundle::STATES, @bundle.state %>
    </div>

    <div class="target">
      <b>Target date:</b>
      <%= timeago @bundle.target_date if @bundle.target_date.present?%>
    </div>

    <div class="description">
      <b>Description:</b>
      <div><%= @bundle.description %></div>
    </div>
  </div>

  <p class="actions">
    <%= link_to 'Edit', edit_bundle_path(@bundle), class: 'edit' if permitted_to? :edit %>
  </p>
</fieldset>
<fieldset>
  <legend>Games</legend>
  <%= render 'games/games', :games => @bundle.games %>
  <%= link_to 'New game', new_bundle_game_path(@bundle), class: 'button' if permitted_to? :create, @bundle.games %>
</fieldset>
<fieldset>
  <legend>Issues</legend>
  <%= render 'issues/issues', :issues => @bundle.issues, :show_game => true %>
</fieldset>
