<table>
  <thead>
  <tr>
    <th>Results</th>
    <th>Notes</th>
    <th>Uploaded</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <% releases.each do |release| %>
      <tr>
        <td><%= link_to 'View results', release_test_results_path(release), remote: true if permitted_to? :read, release.test_results %></td>
        <td><%= release.notes %></td>
        <td>Released  <%= timeago(release.created_at) %> by <%= release.owner.name %></td>
        <td><%= link_to 'New test result', new_release_test_result_path(release) if permitted_to? :create, release.test_results %></td>
        <td><%= link_to 'Edit', edit_game_release_path(release.game, release) if permitted_to? :edit, release %></td>
      </tr>
      <tr class="detail">
        <td colspan="5">
        <div id="release_<%= release.id %>_test_results" style="display: none;"></div>
        </td>
      </tr>
  <% end %>
</table>