<table class="releases-table">
  <colgroup>
    <col width="10%"/>
    <col width="15%"/>
  </colgroup>
  <col width="20%"/>
  <col width="40%"/>
  <thead>
  <tr>
    <td colspan="6" class="filters">
      <input class="fuzzy-search" placeholder="Search"/>

      <div class="status_filter buttonset" title="Filter by status">
        <% available_release_statuses(game).each do |p| %>
            <label class="button"><input type="radio" name="release_status_filter" value="<%= p.second %>"><span><%= p.first %></span></label>
        <% end %>
      </div>

      <%= collection_select '', 'platform_filter', predefined_tag_list('platforms'), :name, :name, {include_blank: 'All platforms'}, {class:'platform_filter'} %>

      <%= link_to 'New release', new_game_release_path(game), class: 'button primary' if permitted_to? :create, game.releases %>
    </td>
  </tr>
  <tr class="header">
    <th>Version</th>
    <th>Results</th>
    <th>Platforms</th>
    <th>Notes</th>
    <th>Uploaded</th>
    <th></th>
  </tr>
  </thead>

  <tbody class="list">
  <% releases.each do |release| %>
    <tr>
      <td>
        <span class="status hidden"><%= release.status %></span>
        <span class="version"><%= release.version %></span>
        <br/>
        <span><%= link_to('Download', download_release_path(release), title: pretty_checksum(release.checksum)) if permitted_to? :download, release %></span>
      </td>
      <td>
        <% if permitted_to? :read, release.test_results %>
            <%= link_to "View results (#{release.test_results.count})", release_test_results_path(release), remote: true %>
            <% if permitted_to? :create, release.test_results %>
                | <%= link_to 'New result', new_release_test_result_path(release), remote: true %>
            <% end %>
        <% end %>
      </td>
      <td>
        <span class="platforms"><%= platform_list release.platforms %></span>
      </td>
      <td>
        <span class="notes"><%= release.notes %></span>
      </td>
      <td>
        <span title="<%= release.owner.name %>"><%= timeago(release.created_at) %><span class="updated hidden"><%= release.updated_at.utc.iso8601 %></span></span>
      </td>
      <td>
        <%= link_to 'Edit', edit_release_path(release) if permitted_to? :edit, release %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
