<fieldset>
  <legend>Release details</legend>
    <p>
    <b>Notes:</b>
    <%= @release.notes %>
  </p>

    <p>
    <b>Owner:</b>
    <%= @release.owner.name %>
  </p>

    <p>
    <b>Url:</b>
    <%= @release.url %>
  </p>

  
  <%= link_to 'Edit', edit_game_release_path(@release.game, @release) %> |
  <%= link_to 'Back', game_releases_path(@release.game) %>
</fieldset>