<!DOCTYPE html>
<html>
<head>
  <title>HumbleBugs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
      $(function () {
          <% flash.each do |name, msg| %>
          $.jGrowl('<%= msg %>', {header:'<%= name.to_s.humanize %>', life:5000});
          <% end %>
      });
  </script>
</head>
<body>
<div id="container">
  <header>
    <div id="logo">
      <h1>HumbleBugs</h1>
    </div>
    <div id="user-nav">
      <div>
        <% if current_user %>
            <%= link_to "My Account", current_user, :title => "Logged in as #{current_user.name} - #{current_user.email}" %>
            | <%= link_to "Log out", logout_path %>
        <% else %>
            <%= link_to "Sign up", signup_path %> or
            | <%= link_to "log in", login_path %>
        <% end %>
        <% if Rails.env.development? %>
            <%= collection_select 'switch_user', 'id', User.where("email like '%@example.com'").order('email'), :id, :email, {prompt: '- Switch Users -'}, { style: 'float: right'} %>
        <% end %>
      </div>
    </div>
    
    <div id="app-nav">
      <ul>
        <li class="<%= select_if :controller => :dashboard %>"><%= link_to 'Dashboard', root_path %></li>
        <li class="<%= select_if :controller => :bundles %>"><%= link_to 'Bundles', bundles_path %></li>
        <li class="<%= select_if :controller => :games %>"><%= link_to 'Games', games_path %></li>
        <% permitted_to? :manage, :users do %>
            <li class="<%= select_if :controller => :users %>"><%= link_to 'Users', users_path %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <section id="content">
    <%= yield %>
  </section>

  <footer>

  </footer>
</div>
</body>
</html>
